@font-face {
	font-family: 'Fira Code';
	src: url('../../public/fonts/FiraCode.ttf') format('truetype');
	src: url('../../public/fonts/FiraCode-Medium.ttf') format('truetype');
}

@font-face {
	font-family: 'Red Display';
	src: url('../../public/fonts/RedHatDisplay.ttf') format('truetype');
	src: url('../../public/fonts/RedHatDisplay-Bold.ttf') format('truetype');
}

@font-face {
	font-family: 'Red Text';
	src: url('../../public/fonts/RedHatText.ttf') format('truetype');
}
