
@mixin glitchShadow($shadow1Pos, $shadow2Pos) {
	$shadow-color-1: #f00;
	$shadow-color-2: #0ff;
	text-shadow: $shadow1Pos 0 $shadow-color-1, $shadow2Pos 0 $shadow-color-2;
}

@mixin glitchTextEffect($changeStyle: true, $shadow: true, $time: 2s) {
	$animationId: unique-id();
	$steps: 50;
	@keyframes glitchAnim-#{$animationId} {
		@for $i from 1 to $steps {
			$step: calc(100% / $steps * $i);

			$text-style: (
				normal,
				normal,
				normal,
				italic,
				normal,
			);
			$text-trans: (
				none,
				none,
				uppercase,
				none,
				none,
				lowercase,
				capitalize,
				none
			);
			$text-decor: (
				none,
				none,
				line-through,
				underline,
				none,
			);

			$transIndex: random(length($text-trans));
			$styleIndex: random(length($text-style));
			$decorIndex: random(length($text-decor));

			#{$step} {
				@if $shadow {
					@include glitchShadow(
						#{random(4)}px #{random(4)}px, 
						#{calc(random(4) * -1)}px #{calc(random(4) * -1)}px
					);
				}
				@if $changeStyle {
					font-style: nth($text-style, $styleIndex);
					text-transform: nth($text-trans, $transIndex);
					text-decoration: nth($text-decor, $decorIndex);
				}
			}
		}
	}
	animation: glitchAnim-#{$animationId} $time infinite;
}

@mixin changingText($text1, $text2, $time: 10s) {
	$animationId: unique-id();
	$steps: 50;
	@keyframes changingText-#{$animationId} {
		@for $i from 1 to $steps {
			$step: calc(100% / $steps * $i);
			#{$step} {
				@if random(60) > 50 {
					content: '#{$text1}';
				} @else {
					content: '#{$text2}';
				}
			}
		}
	}
	animation: changingText-#{$animationId} $time infinite;
}
