$main-color: #ffffff;
$background-color: #0d0d0d;

$purple-color: #7300fb;
$cyan-color: #00defb;

$guz-font: 'Red Display', arial, helvetica, sans-serif;
$console-font: 'Fira Code', monospace, sans-serif;
